{% extends "_base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>這請輸入經緯度或選取以下照片</h1>
    <input placeholder="輸入經度" style="width:500px; height:30px;" />
    <input placeholder="輸入經度" style="width:500px; height:30px;" />
    <br>
    <br>
    <br>
    <br>
   
    <tr>
        <td><input type="image"
            src="\static\image\11.png"
            alt="Login"
             width="275" height="300"></td>
        <td><input type="image"
            src="\static\image\22.png"
            alt="Login"
             width="275" height="300"></td>
        <td><input type="image"
            src="\static\image\33.png"
            alt="Login"
             width="275" height="300"></td>
        <td><input type="image"
            src="\static\image\44.png"
            alt="Login"
             width="275" height="300"></td>
    </tr>

    <br>
    <tr>
        <td><input type="image"
            src="\static\image\555.png"
            alt="Login"
            width="275" height="300"></td>
        <td><input type="image"
            src="\static\image\66.png"
            alt="Login"
             width="275" height="300"></td>
        <td><input type="image"
            src="\static\image\77.png"
            alt="Login"
             width="275" height="300"></td>
        <td><input type="image"
            src="\static\image\88.png"
            alt="Login"
             width="275" height="300"></td>
    </tr>

  </body>
</html>


