{% extends "_base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>可以輸入經緯度、自行輸入圖片或選取以下照片</h1>
    <input placeholder="輸入經度" style="width:500px; height:30px;" />
    <input placeholder="輸入經度" style="width:500px; height:30px;" />
    <br>
    <br>
    <br>
    <br>
    <div>
      <center><p><input type="file" id="input" class="input"></p></center>
    </div>
    
    
        
    <tr>
      <td><img src="\static\image\11.png" style="height: 300px;" class="img"></td>
      <td><img src="\static\image\22.png" style="height: 300px;" class="img"></td>
      <td><img src="\static\image\33.png" style="height: 300px;" class="img"></td>
      <td><img src="\static\image\44.png" style="height: 300px;" class="img"></td>
    </tr>
    <tr>
      <td><img src="\static\image\555.png" style="height: 300px;" class="img"></td>
      <td><img src="\static\image\66.png" style="height: 300px;" class="img"></td>
      <td><img src="\static\image\77.png" style="height: 300px;" class="img"></td>
      <td><img src="\static\image\88.png" style="height: 300px;" class="img"></td>
    </tr>
    <a href="result"><img src="\static\image\go.png" style="height: 30px;"></a>
  </body>
</html>
{% endblock %}

